html {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}


h1 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

img {
    width: 100%;
    border: 5px solid white;
    margin-top: 10%;
}

.text {
    color: white;
}
